/* esto deja los filtros horizontales arriba */

.contenedorCardsAlojamiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-y: auto;
}

.contenedorFiltros {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


/* esto deja los filtros en vertical */

@media (max-width: 768px) {
    .pageAlojamientos {
        display: flex;
        padding: 2rem;
        flex-direction: column;
    }
    
    .contenedorCardsAlojamiento {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        overflow-y: auto;
    }
    
    .contenedorFiltros {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding: 1rem;
        flex-direction: column;
    }    
}