.contenedor-alojamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenedor-cards-alojamiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}