/* esto deja los filtros en panel lateral */
/*
.pageAlojamientos {
    display: flex;
    padding: 2rem;
}

.contenedorCardsAlojamiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-y: auto;
}

.contenedorFiltros {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}
*/
/* esto deja los filtros horizontales arriba */



.contenedorCardsAlojamiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-y: auto;
}

.contenedorFiltros {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
}
